<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMKBank" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53617/MKBank.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMKBank" contract="BankingService.IMKBank"
                name="BasicHttpBinding_IMKBank" />
        </client>
    </system.serviceModel>
</configuration>